.plans__section{
    width: 100%;
    height: 1000px;
}
.plans__wavesimg{
    position: absolute;
    right: 0;
    top: 580%;
}
.plans__head{
    width: 768px;
    height: 186px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 10vh;
}
.pricing__block{
    width: 77px;
    height: 32px;
    margin: 0 auto;
    border-radius: 64px;
    background-color: #DDF0A7;
    font-size: 15px;
    font-family: 'Space Grotesk';
    color: #162E3C;
}
.plans__head>h4{
    font-size: 48px;
    font-family: 'Fraunces';
    margin-top: 10px;
    margin-bottom: 20px;
    color: #162E3C;
}
.plans__head>p{
    font-size: 17px;
    font-family: 'Space Grotesk';
    color: #49616E;
}

.plans__wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.plans__card{
    width: 405px;
    height: 668px;
    background-color: #162E3C;
    border-radius: 32px;
    padding: 30px 30px 30px 30px;
    color: white;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.name__of__plan{
    font-family: 'Fraunces';
    font-size: 20px;
}
.price__of__plan{
    font-size: 56px;
    font-family: 'Fraunces';
}
.alternative__plan{
    font-family: 'Space Grotesk';
    font-size: 16px;
}
.line{
    width: 341px;
    height: 1px;
    margin: 0 auto;
    background-color: #223E4E;
}
.plans__include{
    font-family: 'Space Grotesk';
    font-size: 15px;
}
.includes__list>li>.circle{
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: #DDF0A7;
}
.includes__list>li>p{
    font-size: 15px;
    font-family: 'Space Grotesk';
}
.includes__list>li{
    display: flex;
    align-items: center;
    gap: 0 15px;
}
.button__plan{
    width: 341px;
    height: 52px;
    background-color: #DDF0A7;
    color: #162E3C;
    font-family: 'Space Grotesk';
    font-size: 15px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.green__card{
    margin-left: auto;
}